
.icon-spin2:before { content: '\e800'; } /* '' */
.icon-angle-double-down:before { content: '\e801'; } /* '' */
.icon-circle-empty:before { content: '\e802'; } /* '' */
.icon-down-open-big:before { content: '\e803'; } /* '' */
.icon-tag:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-search-circled:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-left-open-big:before { content: '\e808'; } /* '' */
.icon-right-open-big:before { content: '\e809'; } /* '' */
.icon-firefox:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-phone-1:before { content: '\e80c'; } /* '' */
.icon-chrome:before { content: '\e80d'; } /* '' */
.icon-opera:before { content: '\e80e'; } /* '' */
.icon-compass:before { content: '\e80f'; } /* '' */
.icon-snow:before { content: '\e810'; } /* '' */